.profile__edit-button {
  width: 24px;
  height: 24px;
  background: transparent url('../../../images/edit-icon.svg') center no-repeat;
  background-size: 10px 10px;
  border: 1px solid #fff;
  grid-area: button;
  align-self: center;
  cursor: pointer;
  -webkit-transition: 0.3s;
  -moz-transition: 0.3s;
  -ms-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;
  padding: 0;
  margin: 0;
}

.profile__edit-button:hover {
  opacity: 0.6;
}

.profile__image-edit-container {
  position: relative;
}
.profile__image {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  background-size: cover;
  background-position: center;
}

.profile__image::after {
  opacity: 0.5;
}

.profile__avatar-edit-button {
  position: absolute; 
  top: 50%; 
  left: 43%; 
  transform: translate(-50%, -50%);
  width: 26px;
  height: 26px;
  background: url('../../../images/edit-icon.svg') no-repeat center center;
  background-size: contain;
  border: none;
  cursor: pointer;
  display: none;
}

.profile__avatar-edit-button:hover {
  opacity: 0.6;
  
}

.profile__image-edit-container:hover .profile__avatar-edit-button {
  display: block;
}
.popup_type_edit-avatar .popup__content {
  padding: 20px;
}
.popup_type_edit-avatar .popup__title {
  margin-bottom: 20px;
}
.popup_type_edit-avatar .popup__input {
  margin-bottom: 10px;
}


@media screen and (max-width: 480px) {
  .profile__edit-button {
    width: 18px;
    height: 18px;
    background-size: 8px 8px;
  }
}
